*{
    padding: 0px;
    margin: 0px;
}
body{
    font: 16px arial;
    background: #d1d1d1;
}
.wrapper{
    width: 95%;
    margin: 30px auto 0px;
    background: #fff;
}
.header{
    text-align: center;
    background: #2c3e50;
    padding: 10px;
}

.header h1{
    color: #fff;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.menu{
    background: #95a5a6;
}
.menu ul{
    padding: 0 10px;
    margin: 0px;
    list-style-type: none;
}

.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu ul li a:hover{
    color: #2c3e50;
}

.main-content{
    padding:  25px 34px;
    min-height: 400px;
}
.main-content h2{
    margin: 0 0 10px;
    text-transform: capitalize;
}
.main-content table{
    width: 100%;
    margin: 0 0 20px;
}
.main-content table th{
    color: #fff;
    background: #2c3e5e;
    text-transform: uppercase;
    padding: 7px;
} 
.main-content table th:last-child{
    width: 130px;
}

.main-content table td{
    background-color: #ecfef1;
    padding: 7px;

}
.main-content table td a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    background: #e67e22;
    text-decoration: none;
    border-radius: 3px;
}

.main-content table td a:nth-child(2){
    background-color: #e74c3c;
    margin: 0 0 0 5px;
}
.main-content .post-form{
    width: 50%;
    padding: 25px;
    margin: 0 auto 10px;
    background: #f5f5f5;
    border-radius: 10px;
}
.main-content .post-form .form-group{
    margin: 0 0 15px;
}
.main-content .post-form .form-group label{
    width: 30%;
    display: inline-block;
    font-weight: 600;
}
.main-content .post-form .form-group input 
, .main-content .post-form .form-group select{
    width: 66%;
    font-size: 16px;
    display: inline-block;
    padding: 5px;
    margin: 0;
}
.main-content .post-form .form-group select{
    width: 69%;
}
.main-content .post-form .submit{
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 30%;
    cursor: pointer;
}
.main-content .post-form .submit:hover{
    box-shadow: 0 0 5px #555;
}

.search-bar{
    background: #2c3e50;
}
.search-bar label{
    padding: 5px 7px;
    color: #fff;
    font-weight: bold;
}

.search-bar input{
    width: 91%;
    height: 25px;
    margin-left: 6px;
    outline: none;
    font-size: 16px;
}











